<div class="calculator">
  <div class="calc-row">
      <div class="screen">{{screeenValue }}</div>
  </div>
  <div class="calc-row">
      <div class="button" data-value="clear" data-key="func" (click)="onClearClick($event)">CLR</div>
  </div>
  <div class="calc-row">
      <div class="button" data-value="7" data-key="numeric" (click)="onOperandClick($event)">7</div>
      <div class="button" data-value="8" data-key="numeric" (click)="onOperandClick($event)">8</div>
      <div class="button" data-value="9" data-key="numeric" (click)="onOperandClick($event)">9</div>
      <div class="button divide" data-value="/" data-key="operator" (click)="onOperatorClick($event)">/</div>
  </div>
  

  <div class="calc-row">
      <div class="button" data-value="4" data-key="numeric" (click)="onOperandClick($event)">4</div>
      <div class="button" data-value="5" data-key="numeric" (click)="onOperandClick($event)">5</div>
      <div class="button" data-value="6" data-key="numeric" (click)="onOperandClick($event)">6</div>
      <div class="button multiply" data-value="*" data-key="operator" (click)="onOperatorClick($event)">*</div>
  </div>

  <div class="calc-row">
      <div class="button" data-value="1" data-key="numeric" (click)="onOperandClick($event)">1</div>
      <div class="button" data-value="2" data-key="numeric" (click)="onOperandClick($event)">2</div>
      <div class="button" data-value="3" data-key="numeric" (click)="onOperandClick($event)">3</div>
      <div class="button" data-value="-" data-key="operator" (click)="onOperatorClick($event)">-</div>
  </div>

  <div class="calc-row">
      <div class="button decimal" data-value="." data-key="fractional" (click)="onOperandClick($event)">.</div>
      <div class="button" data-value="0" data-key="numeric" (click)="onOperandClick($event)">0</div>
      <div class="button equal" data-value="=" data-key="evaluator" (click)="onOperatorClick($event)">=</div>
      <div class="button" data-value="+" data-key="operator" (click)="onOperatorClick($event)">+</div>
  </div>
</div>